/* 
GENERAL
*/
*,
html {
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
/* 
HEADER
*/
header {
  margin-bottom: 30px;
  padding-bottom: 20px;
  width: 100%;
  height: 85px;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#top-header {
  padding: 9px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  gap: 13px;
}
/* suite */

/* 
SIGNUP
*/
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
fieldset {
  padding: 10px;
}
.field {
  display: flex;
  justify-content: space-between;
  padding-bottom: 9px;
}
.field input {
  padding: 0;
}
.field select,
.field input {
  width: 200px;
}
